<html>
  <form method="POST">
    <input name="user[username]" type="text" placeholder="Username" />
    <input name="user[password]" type="text" placeholder="Password">
    <input type="submit" value="Sign Up" />
  </form>
</html>
